In [1]:
import nba_api
import pandas as pd
import warnings

warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", None)

In [2]:
from nba_api.stats.static.teams import find_team_by_abbreviation
from nba_api.stats.endpoints.teamdashboardbygeneralsplits import TeamDashboardByGeneralSplits

In [3]:
cle = find_team_by_abbreviation('CLE')['id']

---
## Base

In [4]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    season='2020-21'
                                    measure_type_detailed_defense='Base',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 27:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,PLUS_MINUS
0,October,7,3,4,0.429,49.0,39.5,88.5,0.446,9.6,32.1,0.300,16.0,20.6,0.780,11.2,34.7,45.9,25.4,16.2,8.2,3.8,3.8,16.6,19.5,104.7,-1.7
1,November,14,8,6,0.571,50.2,40.0,88.7,0.451,13.1,37.1,0.352,15.7,20.5,0.764,10.5,36.4,46.9,24.7,16.7,7.2,4.0,5.7,17.3,19.0,108.8,2.5
2,December,15,9,6,0.600,49.4,42.9,88.8,0.483,14.2,37.2,0.382,16.8,20.9,0.803,9.7,37.5,47.3,28.1,14.7,7.9,5.5,4.7,18.4,18.9,116.8,11.8
3,January,9,7,2,0.778,50.9,43.1,90.2,0.478,10.5,32.3,0.325,17.0,23.3,0.727,11.1,36.4,47.5,27.3,13.9,6.6,4.4,5.1,14.7,21.2,113.7,4.4

---
## Advanced

In [5]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    measure_type_detailed_defense='Advanced',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 26:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,DEF_RATING,E_NET_RATING,NET_RATING,AST_PCT,AST_TO,AST_RATIO,OREB_PCT,DREB_PCT,REB_PCT,TM_TOV_PCT,EFG_PCT,TS_PCT,E_PACE,PACE,PACE_PER40,POSS,PIE
0,October,7,3,4,0.429,336.0,102.1,103.3,102.9,104.4,-0.7,-1.1,0.642,1.57,18.1,0.261,0.701,0.482,0.160,0.501,0.537,100.9,99.57,82.98,695,0.495
1,November,14,8,6,0.571,672.0,104.7,107.4,103.9,104.7,0.9,2.7,0.618,1.48,17.7,0.288,0.743,0.520,0.164,0.525,0.557,98.6,97.04,80.86,1357,0.503
2,December,15,9,6,0.600,720.0,113.3,115.2,102.0,104.1,11.3,11.2,0.654,1.90,19.8,0.265,0.739,0.515,0.146,0.563,0.595,100.1,98.23,81.86,1477,0.569
3,January,9,7,2,0.778,432.0,110.0,112.2,107.1,107.7,2.9,4.6,0.634,1.97,19.2,0.286,0.705,0.504,0.137,0.536,0.566,96.9,95.67,79.72,860,0.546

---
## Misc

In [6]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    measure_type_detailed_defense='Misc',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 14:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,PTS_OFF_TOV,PTS_2ND_CHANCE,PTS_FB,PTS_PAINT,OPP_PTS_OFF_TOV,OPP_PTS_2ND_CHANCE,OPP_PTS_FB,OPP_PTS_PAINT
0,October,7,3,4,0.429,49.0,19.7,13.0,12.0,50.7,19.5,10.9,15.7,51.6
1,November,14,8,6,0.571,50.2,15.6,13.8,11.7,47.2,19.5,13.2,11.5,47.9
2,December,15,9,6,0.600,49.4,17.9,12.3,11.5,48.6,15.3,13.0,11.5,45.4
3,January,9,7,2,0.778,50.9,14.6,12.8,8.2,55.1,14.8,15.0,12.5,43.4

---
## Four Factors

In [7]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    measure_type_detailed_defense='Four Factors',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 14:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,EFG_PCT,FTA_RATE,TM_TOV_PCT,OREB_PCT,OPP_EFG_PCT,OPP_FTA_RATE,OPP_TOV_PCT,OPP_OREB_PCT
0,October,7,3,4,0.429,336.0,0.501,0.232,0.160,0.261,0.517,0.168,0.160,0.299
1,November,14,8,6,0.571,672.0,0.525,0.231,0.164,0.288,0.504,0.205,0.135,0.257
2,December,15,9,6,0.600,720.0,0.563,0.236,0.146,0.265,0.499,0.226,0.145,0.261
3,January,9,7,2,0.778,432.0,0.536,0.258,0.137,0.286,0.512,0.190,0.132,0.295

---
## Scoring

In [8]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    measure_type_detailed_defense='Scoring',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 21:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,PCT_FGA_2PT,PCT_FGA_3PT,PCT_PTS_2PT,PCT_PTS_2PT_MR,PCT_PTS_3PT,PCT_PTS_FB,PCT_PTS_FT,PCT_PTS_OFF_TOV,PCT_PTS_PAINT,PCT_AST_2PM,PCT_UAST_2PM,PCT_AST_3PM,PCT_UAST_3PM,PCT_AST_FGM,PCT_UAST_FGM
0,October,7,3,4,0.429,48.0,0.638,0.362,0.571,0.086,0.276,0.114,0.153,0.188,0.485,0.620,0.380,0.712,0.288,0.642,0.358
1,November,14,8,6,0.571,48.0,0.582,0.418,0.496,0.062,0.360,0.108,0.144,0.143,0.434,0.537,0.463,0.783,0.217,0.618,0.382
2,December,15,9,6,0.600,48.0,0.581,0.419,0.491,0.075,0.365,0.099,0.144,0.153,0.416,0.548,0.452,0.870,0.130,0.654,0.346
3,January,9,7,2,0.778,48.0,0.642,0.358,0.574,0.089,0.277,0.073,0.149,0.128,0.485,0.578,0.422,0.809,0.191,0.634,0.366

---
## Opponent

In [9]:
dash = TeamDashboardByGeneralSplits(team_id=cle,
                                    measure_type_detailed_defense='Opponent',
                                    pace_adjust='Y',
                                    per_mode_detailed='Per100Possessions').get_data_frames()[3]
dash.drop(columns=['GROUP_SET', 'SEASON_MONTH_NAME'], inplace=True)
dash.drop(dash.iloc[:, 27:], inplace=True, axis=1)
dash

,GROUP_VALUE,GP,W,L,W_PCT,MIN,OPP_FGM,OPP_FGA,OPP_FG_PCT,OPP_FG3M,OPP_FG3A,OPP_FG3_PCT,OPP_FTM,OPP_FTA,OPP_FT_PCT,OPP_OREB,OPP_DREB,OPP_REB,OPP_AST,OPP_TOV,OPP_STL,OPP_BLK,OPP_BLKA,OPP_PF,OPP_PFD,OPP_PTS,PLUS_MINUS
0,October,7,3,4,0.429,49.0,42.3,92.0,0.460,10.6,33.7,0.316,11.2,15.5,0.726,11.7,36.4,48.1,24.9,16.3,10.2,3.8,3.8,19.5,16.6,106.4,1.7
1,November,14,8,6,0.571,50.2,40.2,90.9,0.443,11.2,33.4,0.336,14.6,18.7,0.784,10.5,33.8,44.3,25.5,13.7,9.4,5.7,4.0,19.0,17.3,106.3,-2.5
2,December,15,9,6,0.600,49.4,39.0,90.0,0.434,11.7,35.5,0.331,15.2,20.4,0.744,10.6,32.9,43.6,23.1,14.6,8.0,4.7,5.5,18.9,18.4,105.0,-11.8
3,January,9,7,2,0.778,50.9,40.9,93.8,0.436,14.3,37.5,0.381,13.3,17.8,0.748,13.0,33.8,46.8,22.1,13.4,8.7,5.1,4.4,21.2,14.7,109.3,-4.4